<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Hiba</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <h1>Hiba történt!</h1>
    <p><%= error %></p>
    <a href="/" class="button">Vissza</a>
</body>
</html>