<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Bejelentkezés</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <h1>Bejelentkezés</h1>
    <form action="/login" method="POST">
        <div>
            <label for="username">Felhasználó:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Jelszó:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Bejelentkezés</button>
    </form>
    <a href="/login/register" class="button">Regisztráció</a>
</body>
</html>
