<!DOCTYPE html>
<html>
<head>
    <title>Új listázás</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <h1>Új listázás</h1>

    <form action="/listings" method="post">
        <label for="brand">Márka:</label>
        <input type="text" id="brand" name="brand" required>

        <label for="model">Model:</label>
        <input type="text" id="model" name="model" required>

        <label for="city">Város:</label>
        <input type="text" id="city" name="city" required>

        <label for="price">Ár:</label>
        <input type="number" id="price" name="price" required>

        <label for="motor">Motor:</label>
        <input type="text" id="motor" name="motor" required>

        <label for="date">Dátum:</label>
        <input type="date" id="date" name="date" required>

        <label for="userId">Felhasználó:</label>
        <select name="userId" id="userId">
            <% users.forEach(function(user) { %>
                <option value="<%= user.felhasznaloID %>"><%= user.nev %></option>
            <% }) %>
        </select>

        <button type="submit">Hozzáadás</button>
    </form>

    <a href="/">Vissza</a>
</body>
</html>
