<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Regisztráció</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <h1>Regisztráció</h1>
    <form action="/login/register" method="POST">
        <div>
            <label for="username">Felhasználó:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Jelszó:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Regisztráció</button>
    </form>
</body>
</html>
