<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Felhasználók</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <%- include('_header') %>
    <h1>Felhasználók</h1>
    <ul>
        <% users.forEach(function(user) { %>
            <li>
                <%= user.name %> 
                <form action="/users/<%= user.id %>?_method=DELETE" method="post" style="display:inline;">
                    <button type="submit">Törlés</button>
                </form>
            </li>
        <% }); %>
    </ul>
</body>
</html>
