<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Felhasználók</title>
    <link rel="stylesheet" href="./style.css">
    <script src = "../../userAjax.js"></script>
</head>
<body>
    <%- include('_header') %>
    <h1>Felhasználók</h1>
    <form id="searchForm" action="/users" method="get">
        <input type="text" id="name" name="name" placeholder="Felhasználó név">
        <select id="role" name="role">
            <option value=""></option>
            <option value="admin">Admin</option>
            <option value="felhasznalo">Felhasználó</option>
            <option value="vendeg">Vendég</option>
        </select>
        <button type="submit">Keresés</button>
    </form>
    <ul id="userList">
      
    </ul>

    <div id="confirmationModal" class="modal" style="display:none;">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p id="modalText">Biztosan törölni szeretnéd ezt a felhasználót?</p>
            <button onclick="handleDelete(true)">Igen</button>
            <button onclick="handleDelete(false)">Nem</button>
        </div>
    </div>
    <a href="/" class="button">Vissza a főoldalra</a>
</body>
</html>
